body {
  font-family: Slimespooky;
  background-color: black;
  color: limegreen;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner {
  font-size: 100px;
}

#search-section {
  display: flex;
  justify-content: center;
}

#result-section {
  display: flex;
  justify-content: center;
  font-size: 25px;
}